@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap");
$w1: 979px;

* {
  font-family: "Exo 2", sans-serif;
}
.Page {
  padding: 0;
  margin: 0;

  .nav-bar {
    user-select: none;

    width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;

    .menu__box {
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      @media (max-width: $w1) {
        display: block;
        position: fixed;
        visibility: hidden;
        left: 100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #eceff1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

        transition-duration: 0.25s;
      }
      .menu__item {
        display: list-item;
        text-decoration: none;
        color: rgb(82, 82, 82);

        font-size: 20px;
        font-weight: 600;
        @media (max-width: $w1) {
          display: table;

          padding: 20px 24px;
          width: 80%;
          color: #333;
          font-size: 40px;

          text-decoration: none;

          transition-duration: 0.25s;

          &:focus {
            background-color: #cfd8dc;
          }
        }

        &:hover {
          color: black;
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  @media (min-width: $w1) {
    width: 940px;
  }
  @media (max-width: $w1) {
    width: 90%;
  }
}

.active {
  transition: 0.8s;
  box-shadow: 0px -20px 26px #070707;
}

.menu-active .menu__btn {
  span {
    transform: rotate(45deg);
  }
  span::before {
    top: 0;
    transform: rotate(0);
  }
  span::after {
    top: 0;
    transform: rotate(90deg);
  }
  ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

.menu__btn {
  @media (min-width: $w1) {
    visibility: hidden;
  }

  display: flex;
  align-items: center;
  position: absolute;

  top: 5vh;
  right: 5vw;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 99;

  span,
  span::before,
  span::after {
    @media (min-width: 1000px) {
      visibility: hidden;
    }
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  span::before {
    content: "";
    top: -8px;
  }

  span::after {
    content: "";
    top: 8px;
  }
}

.Info {
  .AboutMe,
  .Portfolio {
    width: 100%;
    background-color: beige;
    padding-bottom: 100px;
  }
  .Skills {
    padding-bottom: 100px;
  }
  .Contacts {
    background-color: beige;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 100px;
  }
  p {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
  }

  @media (max-width: $w1) {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      padding-top: 50px;
    }
  }
}
