@import "./App.scss";

.Main {
  padding: 0;
  padding-top: 20px;
  @media (min-width: $w1) {
    padding-top: 80px;
  }
  margin-bottom: 100px;

  .Description {
    margin: 20px auto;
    h1 {
      font-size: 40px;
    }

    @media (min-width: $w1) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .MyPhoto-wrapper {
    display: flex;
    justify-content: center;

    .MyPhoto {
      height: 500px;

      @media (min-width: $w1) {
        height: 387px;
      }

      background-image: url("../ME.jpg");

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
